---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
// import Search from '@/components/search/FuseSearch.astro'

import PFSearch from '@/components/search/PFSearch.astro'

const meta = {
  description: 'Search relative posts of the whole blog',
  title: 'Search'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/blog' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Search</h1>
    </div>

    <div id='content' class='animate'>
      <p>Enter a search term or phrase to search the blog.</p>
      <PFSearch />
    </div>
  </main>
</PageLayout>
