---
// import links from 'public/links.json'
// import config from 'virtual:config'

// import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'

// import FriendList from '@/components/links/FriendList.astro'

// const headings = [
//   { depth: 2, slug: 'common-links', text: 'Common Links' }
//   { depth: 2, slug: 'special-links', text: 'Special Links' },
//   { depth: 2, slug: 'apply-links', text: 'Apply Links' }
// ]

// const { friends } = links
// const linksConfig = config.integ.links
---

<PageLayout title='Links'  info='/links'>
  <p>這裡可能會放一些朋友的部落格，但我還懶得整理</p>
  <!-- <p>怎么可能有顺序呢，当然是随机的~</p> -->
  <!-- <h2 id='common-links'>Common Links</h2> -->
  <!-- <FriendList list={friends[0]} /> -->
  <!-- <Collapse title='Links with Bad Status'> -->
  <!--   <FriendList list={friends[1]} /> -->
  <!-- </Collapse> -->
  <!-- <Collapse title='Link History Book'> -->
  <!--   <Timeline events={linksConfig.logbook} /> -->
  <!-- </Collapse> -->
  <!-- <h2 id='special-links'>Special Links</h2> -->
  <!-- <FriendList list={friends[2]} /> -->

  <!-- apply-links -->
</PageLayout>
